header{
    height: 70px;
    background-color: rgb(24, 36, 44);
    padding: 10px;
}
h1{
color: lightcyan; font-size: 30px ;
}

body{
    background: url(images/fondo.jpg);
}

h2{
    color: lightcyan; font-size: 30px;
}

h3{
    color: lightcyan; font-size: 25px;
    background-color: black;
    top: 70px;
}
p{
    color: lightcyan; font-size: 20px;
}

footer{
    background-color: rgb(24, 36, 44);
}

h4{
color: lightcyan; font-size: 15px;
}

article{
    background-color: powderblue;
}